<div class="container">

  <div class="md-whiteframe-2dp addProduct" layout-padding  >
   <h4>Add company</h4>
   <form name="addCompanyForm" layout="row" layout-padding layout-align="space-around center" >

			<md-input-container class="md-block" flex-gt-sm>
        <label>Name</label>
        <input ng-model="company.name" required>
        </md-input-container>

				<md-input-container class="md-block" flex-gt-sm >
	        <label>Address</label>
	        <input ng-model="company.address" required>
	        </md-input-container>

					<md-input-container class="md-block" flex-gt-sm >
		        <label>Phone</label>
		        <input ng-model="company.phone" name="phone" type="number" minlength="10" required>
            <span class="error" ng-show="addCompanyForm.phone.$touched&&addCompanyForm.phone.$invalid">
               Not valid number!</span>
		        </md-input-container>

            <md-input-container class="md-block" flex-gt-sm >
    	        <label>GSTIN</label>
    	        <input ng-model="company.gstin" required>
    	        </md-input-container>
              <md-input-container class="md-block" flex-gt-sm >
      	        <label>State</label>
      	        <input ng-model="company.state" required>
      	        </md-input-container>
              <md-input-container class="md-block" flex-gt-sm >
      	        <label>State Code</label>
      	        <input ng-model="company.stateCode" required>
      	        </md-input-container>


    <div>
    	<md-button class="md-primary md-raised" ng-click="createCompany()" ng-disabled="addCompanyForm.$invalid"> +ADD</md-button>
    </div>
	</form>

  </div>


  <div class="md-whiteframe-2dp addCompany" ng-show="updateCompanyStatus" layout-padding style="margin-bottom:5px;" >
    <h4>Update company</h4>
   <form name="updateCompanyForm" layout="row" layout-padding layout-align="space-around center" >

      <md-input-container class="md-block" flex-gt-sm>
        <label>Name</label>
        <input ng-model="companyUpdate.name" required>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm >
          <label>Address</label>
          <input ng-model="companyUpdate.address" required>
          </md-input-container>

					<md-input-container class="md-block" flex-gt-sm >
						<label>Phone</label>
						<input ng-model="companyUpdate.phone" required>
						</md-input-container>



    <div>
      <md-button class="md-primary md-raised" ng-click="updateCompany()" ng-disabled="updateCompanyForm.$invalid">UPDATE</md-button>
    </div>
  </form>

  </div>



	<md-card style="margin:0px">
	            <md-input-container style="margin:15px;">
	                <label>Filter by search</label>
	                <input type="text" ng-model="filterName">
	            </md-input-container>

	            <div ng-hide="true">
	                {{(filteredItems = (companyArray | filter: filterName))}}
	            </div>
	        </md-card>

	<mdt-table table-card="{visible: true, title: 'Company'}"
							largeEditDialog.saveButtonLabel="hello"
							 selectable-rows="true"
	             alternate-headers="'contextual'"
							 paginated-rows="{isEnabled: true, rowsPerPageValues: [10,15,20,50]}"
               selected-row-callback="selectedRowCallback(rows)"
               delete-row-callback="deleteRowCallback(rows)"
               update-row-callback="updateRowCallback(rows)"
	             mdt-row="{
 												'data':filteredItems,
	                      'table-row-id-key': '_id',
	                      'column-keys': [

	                          'name',
	                          'address',
                            'phone',
                            'gstin',
                            'state',
                            'stateCode'



	                      ]
	                      }">
	    <mdt-header-row>

	      <mdt-column align-rule="left" editable-field="textInput"><span>Name</span></mdt-column>
	      <mdt-column align-rule="left"><span>Address</span></mdt-column>
        <mdt-column align-rule="left"><span>Phone</span></mdt-column>
				<mdt-column align-rule="left"><span>GSTIN</span></mdt-column>
        <mdt-column align-rule="left"><span>State</span></mdt-column>
        <mdt-column align-rule="left"><span>State Code</span></mdt-column>



	    </mdt-header-row>


	  </mdt-table>

</div>
