<div class="container-fluid">
<div class="row">

<div class="col-md-7">

		<md-card style="margin:0px;margin-top:10px;" >

			<!-- <div layout-gt-xs="row">
 <div flex-gt-xs>
	 <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
 </div>
 <div flex-gt-xs>
	 <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
 </div> -->
<!-- </div> -->

		            <md-input-container style="margin:15px;">
		                <label>Filter by search</label>
		                <input type="text" ng-model="filterName">
		            </md-input-container>

		            <div ng-hide="true">
		                {{(filteredItems = (allotmentArray | filter: filterName))}}
		            </div>
		        </md-card>

		<mdt-table table-card="{visible: true, title: 'Allotment for Product: '+allotment.product}"
								largeEditDialog.saveButtonLabel="hello"
								 paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
								 selectable-rows="true"
		             alternate-headers="'contextual'"
	               selected-row-callback="selectedRowCallback(rows)"
	               delete-row-callback="deleteRowCallback(rows)"
	               update-row-callback="updateRowCallback(rows)"
		             mdt-row="{
	 												'data':filteredItems,
		                      'table-row-id-key': '_id',
		                      'column-keys': [

		                          'supplier',
															'quantityDispatched',
															'vendor',
															'container',
															'status',
															'created',
															'recieved',
															'mark',
															'rate'
		                      ]
		                      }">
		    <mdt-header-row>

		      <mdt-column align-rule="left" ><span>Vendor</span></mdt-column>
					<mdt-column align-rule="left"><span>Quantity</span></mdt-column>
		      <mdt-column align-rule="left"><span>Merchant</span></mdt-column>
					<mdt-column align-rule="left"><span>Container</span></mdt-column>
					<mdt-column align-rule="left"><span>Status</span></mdt-column>
					<mdt-column align-rule="left"><span>Created</span></mdt-column>
					<mdt-column align-rule="left"><span>Recieved</span></mdt-column>
					<mdt-column align-rule="left"><span>Mark</span></mdt-column>
					<mdt-column align-rule="left"><span>Rate</span></mdt-column>


		    </mdt-header-row>


		  </mdt-table>
      </div>

			<div class="col-md-5">

			<div class="md-whiteframe-2dp addProduct" layout-padding>
        <h3>Add New Role</h3>
				<form name="addProductForm" layout="row"   layout-align="space-around start" >

					<md-input-container  class="md-block" flex-gt-sm >
							 <label>Role Type</label>
							 <md-select name="type" ng-model="role.type" required>
								  <md-option ng-value="role" ng-repeat="role in roleType">{{ role }}</md-option>
							 </md-select>
						 </md-input-container>

						 <md-input-container   class="md-block" flex-gt-sm >
							 <label>Name</label>
							 <input ng-model="role.name" required>
							 </md-input-container>

				</form>

				<div  layout="row" layout-align="center center"  style="margin:0px;">
			 	 <md-button class="md-primary md-raised" ng-click="createAllotmentOption()" ng-disabled="addProductForm.$invalid" > +ADD</md-button>
			  </div>
			</div>




			<!-- this is kept for a purpose -->
				<!-- <div  class="md-whiteframe-2dp addProduct" layout="row" layout-padding layout-align="space-around start">

			<div class="" layout="row" layout-align="center start">

							<md-input-container class="md-block" >
								<label>New Vendor</label>
								<input name="vendor" ng-model="product.requestedQuantity" type="text" required>
								</md-input-container>

						<md-button class="md-primary md-raised" ng-click="createAllotmentProduct()" ng-disabled="addProductForm.vendor.$invalid"> +ADD</md-button>
			</div>
			<div class="" layout="row" layout-align="center start">

					<md-input-container>
						<label>New Merchant</label>
						<input name="merchant" ng-model="product.requestedQuantity" type="text" required>
						</md-input-container>

				<md-button class="md-primary md-raised" ng-click="createAllotmentProduct()" ng-disabled="addProductForm.merchant.$invalid"> +ADD</md-button>
			</div>

			<div class="" layout="row" layout-align="center start">

			<md-input-container>
				<label>New Container</label>
				<input name="container" ng-model="product.requestedQuantity" type="text" required>
				</md-input-container>
			<md-button class="md-primary md-raised" ng-click="createAllotment()" ng-disabled="addProductForm.container.$invalid"> +ADD</md-button>
			</div>

			</div> -->
			<!-- this is kept for a purpose -->





				  <div  class="md-whiteframe-2dp addProduct"  layout-padding style="margin-bottom:5px;" >
           <h3>Add New Allotment</h3>
				   <form name="updateProductForm" layout="column" layout-align="space-between stretch" >
              <div layout="row" layout-align="space-around center">

				      <md-input-container class="md-block" flex-gt-sm >
								<label>Select Vendor</label>
 							 <md-select name="vendor" ng-model="allotment.supplier" required>
 								  <md-option ng-value="role.name" ng-repeat="role in roleArray | filter: {roleName: 'vendor' }">{{role.name}}</md-option>
 							 </md-select>
				        </md-input-container>

								<md-input-container class="md-block" flex-gt-sm >
									<label>Select Merchant</label>
	 							 <md-select name="merchant" ng-model="allotment.vendor" required>
									 <md-option ng-value="role.name" ng-repeat="role in roleArray | filter: {roleName: 'merchant' }">{{role.name}}</md-option>

	 							 </md-select>
					        </md-input-container>


									<md-input-container class="md-block" flex-gt-sm >
										<label>Select Container</label>
		 							 <md-select name="container" ng-model="allotment.container" required >
                <md-option  ng-value="role.name" ng-repeat="role in roleArray | filter: {roleName: 'container' }">{{role.name}}</md-option>
		 							 </md-select>
						        </md-input-container>

									</div>

               <div layout="row" layout-align="space-around center">


								 <md-input-container class="md-block" flex-gt-sm >
								 <label>Quantity</label>
								 <input ng-model="allotment.quantityDispatched" required>
								 </md-input-container>

								 <md-input-container class="md-block" flex-gt-sm >
								 <label>Rate</label>
								 <input ng-model="allotment.rate" required>
								 </md-input-container>


								 <md-input-container class="md-block" flex-gt-sm >
								 <label>Mark</label>
								 <input ng-model="allotment.mark" required>
								 </md-input-container>


							</div>

				  </form>
					<div layout="row" layout-align="center center"  style="margin:0px;">
					 <md-button class="md-primary md-raised" ng-click="updateAllotmentProduct()" ng-disabled="updateProductForm.$invalid">+ADD</md-button>
				 </div>
				  </div>
			</div>




	</div>

</div>

	<style>

	  /* this is important! Set the height to your need */
	  .md-virtual-repeat-container{
	    height: 500px;
	  }
	</style>
