<style>
  .fixPad{
    padding-bottom: 30px;
  }
  .fixMar{
    margin-top:25px;
  }
  .fixMar1{
    margin-top:20px;
  }
  .contentdemoBasicUsage div.demo-content {
  height: 450px; }

  .previous{
    height: 350px;
  }
.bottomBar{
  background: #009688;
   text-align: center;
   color: black;
   top:0;
   bottom: 0;
}



</style>

<div class="container">

  <div class="row">
    <div class="md-col-12">
   <div class="fixMar" layout-padding layout="row" layout-align="space-around start">
    <h4><b>Company</b>: {{order.companyName}}</h4>
   </div>
          <H5>Enter Invoice Date
          <md-datepicker ng-model="date" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                    <md-card style="margin:0px">
                <div class="" layout="row" layout-align="space-between center" layout-padding>
                <md-input-container class="md-block"  flex>
                         <label>PO No</label>
                         <input ng-model="po">
                 </md-input-container>

                 <md-input-container class="md-block"  flex>
                         <label>Contact Person</label>
                         <input ng-model="contact">
                 </md-input-container>

                <md-datepicker flex ng-model="dt" md-placeholder="Date" md-open-on-focus></md-datepicker>
                 <md-input-container class="md-block"  flex>
                         <label>Outstanding Balance</label>
                         <input ng-model="ob">
                 </md-input-container>
                 </div>
                 </md-card>

                <div class="md-whiteframe-1dp " layout-padding layout="row" layout-align="space-around start">
                <md-input-container class="md-block"  flex-gt-sm>
                         <label>Product</label>
                         <input ng-model="objectPush.name" required>
                 </md-input-container>
                <md-input-container class="md-block" flex-gt-sm >
                  <label>HSN Code</label>
                  <input ng-model="objectPush.hsn" type="text">
                </md-input-container>
        <!-- <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text-change="searchTextChange(searchText)"
          md-search-text="searchText"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Select Product">
        <md-item-template>
          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>
      </md-autocomplete> -->


    <md-input-container class="md-block" flex-gt-sm >
    <label>Product Quantity</label>
    <input ng-model="objectPush.quantity" type="number" required>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
    <label>Rate</label>
    <input ng-model="objectPush.rate" type="number" required>
    </md-input-container>
    <md-input-container>
    <label>Tax</label>
    <input ng-model="objectPush.tax" type="number" required>
    </md-input-container>
    <md-button class="md-primary md-raised" ng-click="pushToArray()">+ADD</md-button>

  </div>


  <md-content class="md-whiteframe-1dp fixMar previous" layout-padding layout="column" >

   <div layout="row" layout-align="space-around start" ng-repeat="product in productArray1" >
       <md-input-container class="md-block" flex-gt-sm >
       <label>Product Name</label>
       <input ng-model="product.name" type="text" required>
       </md-input-container>

       <md-input-container class="md-block" flex-gt-sm >
       <label>HSN Code</label>
       <input ng-model="product.hsn" type="text" required>
       </md-input-container>

       <md-input-container class="md-block" flex-gt-sm >
       <label>Product Quantity</label>
       <input ng-model="product.quantity" ng-change= "findTotal()" type="number" required>
       </md-input-container>

       <md-input-container class="md-block" flex-gt-sm >
       <label>Rate</label>
       <input ng-model="product.rate" ng-change= "findTotal()" type="number" required>
       </md-input-container>
       
       <md-input-container class="md-block" flex-gt-sm >
       <label>Amount</label>
       <input ng-model="product.amount" ng-change= "findTotal()" type="number" >
       </md-input-container>

     <md-button class="md-primary md-raised" ng-click="removeFromArray(this)">REMOVE</md-button>

 </div>

</md-content>


 <div class="md-whiteframe-1dp fixMar" layout-padding layout="row" layout-align="space-between center">
  <h1><b>Total</b>:{{order.totalPrice| currency:"₹"}}</h1>
</div>
<br>
<h4>Enter Dispatch Company Details</h4>
<form name="a" layout="row" layout-padding layout-align="space-around center" >
      <md-input-container class="md-block" flex-gt-sm>
        <label>Name</label>
        <input ng-model="company.name" >
        </md-input-container>

          <md-input-container class="md-block" flex-gt-sm >
            <label>Phone</label>
            <input ng-model="company.phone" name="phone" type="number" minlength="10" >
            <span class="error" ng-show="addCompanyForm.phone.$touched&&addCompanyForm.phone.$invalid">
               Not valid number!</span>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm >
              <label>GSTIN</label>
              <input ng-model="company.gstin" >
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm >
                <label>State</label>
                <input ng-model="company.state" >
                </md-input-container>
              <md-input-container class="md-block" flex-gt-sm >
                <label>State Code</label>
                <input ng-model="company.stateCode" >
                </md-input-container>

    </form>
    <br>

<md-input-container class="md-block">
       <label>Add Packing and Forwarding Charges</label>
       <input ng-model="pf" type="number" ng-change="findTotal()">
       </md-input-container>
  <md-button class="md-primary md-raised" ng-disabled="productArray.length<1" ng-click="placeOrder()">Generate Invoice </md-button>

    <md-button class="md-primary md-raised" ng-disabled="productArray.length<1" ng-click="placeOrderOriginal()">Get Original </md-button>
  <md-button class="md-primary md-raised" ng-disabled="productArray.length<1" ng-click="placeOrderDuplicate()">Get Duplicate </md-button>



    </div>

  </div>

</div>
