<style>
	.fixPad{
		padding-bottom: 30px;
	}
	.fixMar{
		margin-top:25px;
	}
	.fixMar1{
		margin-top:20px;
	}
	.contentdemoBasicUsage div.demo-content {
  height: 450px; }

	.previous{
		height: 350px;
	}
.bottomBar{
	background: #009688;
	 text-align: center;
	 color: black;
   top:0;
	 bottom: 0;
}



</style>

<div class="container">
	<div class="row">

		<div class="col-md-6">

      <form name="routeForm">

			<!-- <div class="md-whiteframe-2dp fixPad fixMar" layout-padding >
       <h1>Select Route</h1>
				<md-input-container class="md-block" flex-gt-sm >
 				 <label>Select Route</label>
 				<md-select name="route"  ng-model="order.route" required>
 					 <md-option ng-value="e" ng-repeat="e in routeArray">{{e}}</md-option>
 				</md-select>
 				</md-input-container>


			</div> -->


			<div class="md-whiteframe-2dp fixPad fixMar" layout-padding  >
    <h1>Select Company</h1>

				<md-autocomplete name="company" required 
 				 md-selected-item="selectedItem"
				  md-no-cache="true"
 				 md-search-text-change="searchTextChange(searchText)"
 				 md-search-text="searchText"
 				 md-selected-item-change="selectedItemChange(item)"
 				 md-items="item in querySearch(searchText)"
 				 md-item-text="item.name"
 				 md-min-length="0"
 				 placeholder="Select Company">
 			 <md-item-template>
 				 <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
 			 </md-item-template>
 		 </md-autocomplete>
  <br><br>

			</div>

		</form>


		</div>

		<div class="col-md-6">

			<div ng-hide="cpro" class="fixMar1" layout-padding >

				<md-toolbar class="md-primary">
     <div class="md-toolbar-tools">
			 <h1 class="md-flex" style="text-transform:capitalize;">{{selectedItem.name}}</h1>

     </div>
   </md-toolbar>


				 <div class="" layout="row" layout-align="space-between start">


                   <p><b>Address</b>:{{selectedItem.address}}</p>
									 <p><b>Phone</b>:{{selectedItem.phone}}</p>

									 <p><b>Balance</b>:Rs.{{selectedItem.balance}}</p>


				 </div>
				 <center><h5>Previous Activities</h5></center>
						<md-content class="previous" flex layout-padding>
						  <div class="md-whiteframe-1dp" ng-repeat="order in companyOrder | limitTo:10">
                <table class="table table-condensed table-bordered">
 									<tr>
										  <th>orderId</th>
											<th><b>Total Price</b></th>
											<th><b>Status</b></th>
											<th><b>Date</b></th>
 									</tr>
									<tr>
										<td>#{{order.orderId}}</td>
										<td>{{order.totalPrice| currency:"₹"}}</td>
											<td>{{order.status}}</td>
											<td>{{order.createdAt}}</td>
 									</tr>


                </table>


										<table class="table table-bordered table-condensed" >
                     <tr>
                        <th>Product Name</th>
												<td ng-repeat="p in order.product">{{p.name}}</td>
										 </tr>
										 <tr>
											 <th>Quantity</th>
 											<td ng-repeat="p in order.product">{{p.quantity}}</td>
										 </tr>
								  	</table>

						  </div>

            </md-content>





			</div>

		</div>

	</div>

</div>
<center> <md-button class="md-primary md-raised" ui-sref="createOrderFinal" ng-hide="cpro" ng-disabled="routeForm.$invalid" >Continue</md-button></center>
