<!DOCTYPE html>


<div class="login-page">

		<div class="container" >

	  <div class="row">

    <div class="col-md-5 col-md-offset-4 md-whiteframe-1dp loginFrame " layout-padding>

      <center><h1>Login</h1></center>

			<form class="">

				<md-input-container class="md-icon-float md-block">
		 <!-- Use floating label instead of placeholder -->
					 <label>Username</label>
					 <input ng-model="user.user" type="text">
				</md-input-container>

				<md-input-container class="md-icon-float md-block">
		 <!-- Use floating label instead of placeholder -->
					 <label>Password</label>
					 <input ng-model="user.password" type="password">
				</md-input-container>

				<center><md-button class="md-raised md-primary" ng-click="loginUser()">Login</md-button></center>


			</form>

    </div>
	</div>

  </div>

</div>


</div>
