<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>



		<div class="container" >


    <div class="" layout-gt-sm="row" layout-align="space-between center">

			 <div class="mainFlex1" flex="60">
			 	<h1>Protect all your passwords </h1>
			 </div>

      <div  flex="40">
				<md-content class="register-form"  layout-gt-sm="row" layout-align="center center" layout-padding>
	        <div>
	    	 <md-input-container>
			 <label>Name</label>
			 <input ng-model="user.name">
		 </md-input-container>

		 <md-input-container>
			 <label>User</label>
			 <input ng-model="user.user">
		 </md-input-container>

		 <md-input-container class="md-block">
 			<label>Email</label>
 			<input ng-model="user.email" type="email">
 		</md-input-container>

		<md-input-container class="md-block">
		 <label>Password</label>
		 <input ng-model="user.password" type="password">
	 </md-input-container>

		<md-input-container class="md-block">
		 <label>Phone no.</label>
		 <input ng-model="user.phone" type="number">
	 </md-input-container>

    <center><md-button class="md-primary md-raised" ng-click="createUser();">Register</md-button></center>

	 </div>
    </md-content>
      </div>

    </div>


  </div>

	</body>
</html>
