<style >
  .bottomOne{
    margin-bottom: 5px !important;
  }

  .previous{
		height: 650px;
	}
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">


      <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Payment Pending</h2>
        </div>
      </md-toolbar>

      <md-content class="previous" flex layout-padding>
        <div class="md-whiteframe-1dp" ng-repeat="order in orderArray|filter:{paymentStatus:'pending'}" layout-padding>

           <table class="table table-condensed bottomOne table-bordered">
             <tr>


             <th>OrderId</th>
             <th>Company</th>
             <th>Total</th>
             <th>Status</th>
             <th>Order Type</th>
             <th>Payment Type</th>
             <th>Added</th>
             <th>Modified</th>
           </tr>
           <tr>
             <td>#{{order.orderId}}</td>
             <td>{{order.companyName}}</td>
             <td>{{order.totalPrice| currency:"₹"}}</td>
             <td>{{order.status}}</td>
             <td>{{order.orderType}}</td>
             <td>NAN</td>
             <td>{{order.createdAt}}</td>
             <td>NAN</td>
           </tr>
           </table>

              <table class="table table-condensed bottomOne table-bordered" >
               <tr>
                  <th>Product Name</th>
                  <td ng-repeat="p in order.product">{{p.name}}</td>
               </tr>
               <tr>
                 <th>Quantity</th>
                <td ng-repeat="p in order.product">{{p.quantity}}</td>
               </tr>
              </table>

              <table class="table table-condensed bottomOne table-bordered" >
               <tr>
                  <th>Payment Status</th>
                  <td>{{order.paymentStatus}}</td>
               </tr>
               <tr>
                 <th>Date Recieved</th>
                <td>{{order.paymentRecievedAt}}</td>
               </tr>
             </table>


        </div>

      </md-content>


    </div>

    <div class="col-md-6">
      <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Payment Recieved</h2>
        </div>
      </md-toolbar>

      <md-content class="previous" flex layout-padding>
        <div class="md-whiteframe-1dp" ng-repeat="order in orderArray|filter:{paymentStatus:'recieved'}" layout-padding>

           <table class="table table-condensed bottomOne table-bordered">
            <tr>
             <th>OrderId</th>
             <th>Company</th>
             <th>Total</th>
             <th>Status</th>
             <th>Order Type</th>
             <th>Payment Type</th>
             <th>Date Added</th>
             <th>Date Modified</th>
           </tr>
           <tr>
             <td>#{{order.orderId}}</td>
             <td>{{order.companyName}}</td>
             <td>{{order.totalPrice| currency:"₹"}}</td>
             <td>{{order.status}}</td>
             <td>{{order.orderType}}</td>
             <td>NAN</td>
             <td>{{order.createdAt}}</td>
             <td>NAN</td>
           </tr>

           </table>

              <table class="table table-condensed bottomOne table-bordered" >
               <tr>
                  <th>Product Name</th>
                  <td ng-repeat="p in order.product">{{p.name}}</td>
               </tr>
               <tr>
                 <th>Quantity</th>
                <td ng-repeat="p in order.product">{{p.quantity}}</td>
               </tr>
              </table>

              <table class="table table-condensed bottomOne table-bordered" >
               <tr>
                  <th>Payment Status</th>
                  <td ng-repeat="p in order.product">{{order.paymentStatus}</td>
               </tr>
               <tr>
                 <th>Date</th>
                <td ng-repeat="p in order.product">{{order.paymentRecievedAt}}</td>
               </tr>
             </table>



        </div>

      </md-content>
    </div>
  </div>
</div>
