<div class="container">

<div class="">

</div>



	  <div  class="md-whiteframe-2dp addProduct" layout-padding>
	   <h4>Add New Product lot</h4>
	   <form name="addProductForm" layout="row" layout-padding layout-align="space-around center" >

				<div class="md-block" flex-gt-sm>
					<md-autocomplete
 	          md-selected-item="selectedItem"
 	          md-search-text-change="searchTextChange(searchText)"
 	          md-search-text="searchText"
 	          md-selected-item-change="selectedItemChange(item)"
 	          md-items="item in querySearch(searchText)"
 	          md-item-text="item.name"
 	          md-min-length="0"
 	          placeholder="Select Product">
 	        <md-item-template>
 	          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
 	        </md-item-template>
 	      </md-autocomplete>
      </div>

					<md-input-container class="md-block" flex-gt-sm >
		        <label>Requested Quantity</label>
		        <input ng-model="product.requestedQuantity" type="number" required>
		        </md-input-container>



	    <div>
	    	<md-button class="md-primary md-raised" ng-click="createAllotmentProduct()" ng-disabled="addProductForm.$invalid"> +ADD</md-button>
	    </div>
		</form>

	  </div>


	  <div  class="md-whiteframe-2dp addProduct" ng-show="updateProductStatus" layout-padding style="margin-bottom:5px;" >
	    <h4>Update Product</h4>
	   <form name="updateProductForm" layout="row" layout-padding layout-align="space-around center" >

	      <md-input-container class="md-block" flex-gt-sm>
	        <label>Name</label>
	        <input ng-model="productUpdate.name" required>
	        </md-input-container>

	        <md-input-container class="md-block" flex-gt-sm >
	          <label>Rate</label>
	          <input ng-model="productUpdate.rate" required>
	          </md-input-container>



	    <div>
	      <md-button class="md-primary md-raised" ng-click="updateProduct()" ng-disabled="updateProductForm.$invalid">UPDATE</md-button>
	    </div>
	  </form>

	  </div>




		<md-card style="margin:0px">
		            <md-input-container style="margin:15px;">
		                <label>Filter by search</label>
		                <input type="text" ng-model="filterName">
		            </md-input-container>

		            <div ng-hide="true">
		                {{(filteredItems = (productArray | filter: filterName))}}
		            </div>
		        </md-card>

		<mdt-table table-card="{visible: true, title: 'Products'}"
								largeEditDialog.saveButtonLabel="hello"
								 virtual-repeat="true"
								 selectable-rows="true"
		             alternate-headers="'contextual'"
	               selected-row-callback="selectedRowCallback(rows)"
	               delete-row-callback="deleteRowCallback(rows)"
	               update-row-callback="updateRowCallback(rows)"
		             mdt-row="{
	 												'data':filteredItems,
		                      'table-row-id-key': '_id',
		                      'column-keys': [

		                          'product',
		                          'requestedQuantity'


		                      ]
		                      }">
		    <mdt-header-row>

		      <mdt-column align-rule="left" editable-field="textInput"><span>Name</span></mdt-column>
		      <mdt-column align-rule="left"><span>Quantity</span></mdt-column>
		    </mdt-header-row>


		  </mdt-table>

	</div>

	<style>

	  /* this is important! Set the height to your need */
	  .md-virtual-repeat-container{
	    height: 330px;
	  }
	</style>
