<style >
  .bottomOne{
    margin-bottom: 5px !important;
  }

  .previous{
		height: 650px;
	}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <md-card style="margin:0px">
              <div class="" layout="row" layout-align="space-between center" layout-padding>
                <md-input-container flex >
          <label>Status</label>
          <md-select name="type" ng-model="orderFilter.status" >
            <md-option value="pending">pending</md-option>
            <md-option value="processing">processing</md-option>
            <md-option value="delivered">delivered</md-option>
            <md-option value="returned">returned</md-option>
            <md-option value="cancelled">cancelled</md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex>
          <label>Payment Status</label>
          <md-select name="type" ng-model="orderFilter.paymentStatus" >
            <md-option value="pending">pending</md-option>
            <md-option value="recieved">recieved</md-option>
            <md-option value="cancelled">cancelled</md-option>
          </md-select>
        </md-input-container>



    <md-datepicker flex  ng-model="startAt" ng-change="selecteddateStart()" md-placeholder="Start date"></md-datepicker>

    <md-datepicker flex  ng-model="endAt" ng-change="selecteddateEnd()" md-placeholder="end date"></md-datepicker>

    <md-button class="md-primary md-raised" ng-click="searchFilter()">Filter</md-button>


              </div>
          </md-card>


      <md-card style="margin:0px">
              <md-input-container style="margin:15px;">
                  <label>Filter by search</label>
                  <input type="text" ng-model="filterName">
              </md-input-container>

              <div ng-hide="true">
                  {{(filteredItems = (orderArray | filter: filterName))}}
              </div>
          </md-card>
      <mdt-table  class="previous"  mdt-row="{
                      data: filteredItems,
                      'table-row-id-key': '_id',
                      'column-keys': [
                          'orderId',
                          'companyName',
                          'totalPrice',
                          'status',
                          'createdAt',
                          'dateModified',
                          'paymentStatus',
                          'paymentRecievedAt',
                          '__v'

                      ]
                      }">
        <mdt-header-row>
            <mdt-column align-rule="left"><span>orderID</span></mdt-column>
            <mdt-column align-rule="left"><span>Company</span></mdt-column>
            <mdt-column align-rule="right"><span>Total</span></mdt-column>
            <mdt-column align-rule="right"><span>Status</span></mdt-column>
            <mdt-column align-rule="right"><span>Date Added</span></mdt-column>
            <mdt-column align-rule="right"><span>Date Modified</span></mdt-column>
            <mdt-column align-rule="right"><span>Payment Status</span></mdt-column>
            <mdt-column align-rule="right"><span>Payment Recieved</span></mdt-column>
            <mdt-column align-rule="right"><span>Action</span></mdt-column>

        </mdt-header-row>


        <mdt-custom-cell column-key="__v">
           <!-- <a ng-href="{{value}}" target="_blank">{{clientScope.getNutritionWithId(rowId).name}}</a> -->
           <button class="btn btn-primary" ng-click="clientScope.editOrder(this)">Edit</button>
        </mdt-custom-cell>


    </mdt-table>
</div>

    </div>
  </div>
</div>
